/* Navigation Styles */

header {
  background: var(--backgroundDark);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  color: var(--textDarkBackground);
  padding: 10px;
  border-bottom: 3px solid var(--shinyGreen);
}

.name-logo {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  font-size: 3.2rem;
}

.border-bottom {
  border-bottom: var(--shinyGreen);
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--backgroundDark);
  width: 100%;
  border-bottom: 3px solid var(--shinyGreen);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 0.25s ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--textDarkBackground);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.10s ease-in-out;
}

nav a:hover {
  color: var(--shinyGreen);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked + nav {
  transform: scale(1, 1);
}

.nav-toggle:checked + nav a {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0.25s;
}

label > span > div {
  cursor: pointer;
}

label {
  position: absolute;
  top: 45%;
  left: 15px;
}

@media screen and (min-width: 850px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .name-logo {
    grid-column: 2 / span 1;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    font-weight: 700;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: var(--shinyGreen);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 300ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}
