@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root {
  --backgroundDark: #07020d;
  --backgroundLight: #34312d;
  --textDarkBackground: #f4f4f8;
  --shinyGreen: #31e981;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--backgroundLight);
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
